
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
    background-color: #f1f2e7;
    text-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
}

@media (max-width:390px){
    h1{
        font-size: 26px; 
    }
}

@media (max-width:402px){
    img{
        width:340px;
        height: 340px;
    
    }
}